<div id='container'>
<!-- Your code here -->
<h1>Shorten your links</h1>
<!-- not sure how to clear the input... ng-click="link.newLink = ''"-->
<form novalidate name="shortenForm" ng-submit='addLink(shortenForm.$valid)' >
  <input type='url' name='newLink' ng-model='link.newLink'  required>
  <p ng-show="shortenForm.newLink.$invalid && !shortenForm.newLink.$pristine" class="help-block">Enter valid link.</p>
    </div>
  <button>Shorten Url!</button>
</form>

<!-- trying to validate the url <span ng-show="shortenForm.newLink.$error.url">Not vaild web url!</span> -->
<a href="#/links">See All Shorten Links <strong>All Links</strong> ...</a>
</div>


